<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="SpinalCord">
			<section name="Max" type="System.Configuration.AppSettingsSection" />
			<section name="Mean" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
	</configSections>
	<SpinalCord>
		<Max>
			<add key="Type" value="max" />
			<add key="Constraint" value="40" />
			<add key="Weight" value="70" />
		</Max>
		<Mean>
			<add key="Type" value="mean" />
			<add key="Constraint" value="20" />
			<add key="Weight" value="30" />
		</Mean>
	</SpinalCord>
</configuration>