<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
			<add key="SpinalCord"			value="SpinalCrd" />
			<add key="BrainStem"			value="BrainStem" />
			<add key="Mandible"				value="Mandible" />
			<add key="ParotidL"				value="ParotidL" />
			<add key="ParotidR"				value="ParotidR" />
			<add key="OpticNerveL"			value="ONerveL" />
			<add key="OpticNerveR"			value="ONerveR" />
			<add key="EyeL"					value="EyeL" />
			<add key="EyeR"					value="EyeR" />
			<add key="CochleaL"				value="CochleaL" />
			<add key="CochleaR"				value="CochleaR" />
			<add key="Chiasm"				value="Chiasm" />
			<add key="Esophagus"			value="Esophagus" />
			<add key="Heart"				value="Heart" />
			<add key="LAD"					value="LAD" />
			<add key="Breast"				value="Breast" />
			<add key="LungL"				value="LungL" />
			<add key="LungR"				value="LungR" />
			<add key="Liver"				value="Liver" />
			<add key="KidneyL"				value="KidneyL" />
			<add key="KidneyR"				value="KidneyR" />
			<add key="Bowel"				value="Bowel" />
			<add key="Bladder"				value="Bladder" />
			<add key="Rectum"				value="Rectum" />
			<add key="FemurL"				value="FemurL" />
			<add key="FemurR"				value="FemurR" />
			<add key="LensL"				value="LensL" />
			<add key="LensR"				value="LensR" />
			<add key="HippoL"				value="HippoL" />
			<add key="HippoR"				value="HippoR" />
		</appSettings>
</configuration>
