<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TargetConstraints"		type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="SpinalCord"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="SpinalCordPrv"			type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="BrainStem"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="BrainStemPrv"			type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="ParotidL"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="ParotidLminusPTV"		type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="ParotidR"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="ParotidRminusPTV"		type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="Mandible"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="OpticNerveL"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="OpticNerveR"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="OpticNerveLPrv"			type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="OpticNerveRPrv"			type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="EyeL"					type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="EyeR"					type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="CochleaL"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="CochleaR"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="Esophagus"				type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />
		<section name="EsophagusminusPTV"			type="SimpleGui.ConfigParser.ConstraintList, SimpleGui.esapi" />

	</configSections>
	<TargetConstraints>
		<constraints>
			<constraint id="1" name="upper" value="1.095" volume ="000" weight="100"/>
			<constraint id="2" name="upper" value="1.085" volume ="005" weight="100"/>
			<constraint id="3" name="lower" value="1.005" volume ="095" weight="100"/>
			<constraint id="4" name="lower" value="0.955" volume ="100" weight="100"/>
		</constraints>
	</TargetConstraints>
	<Mandible>
		<constraints>
			<constraint id="1" name="upper" value="70" volume ="000" weight="070"/>
		</constraints>
	</Mandible>
	<SpinalCord>
		<constraints>
			<constraint id="1" name="upper" value="40" volume ="000" weight="070"/>
		</constraints>
	</SpinalCord>
	<SpinalCordPrv>
		<constraints>
			<constraint id="1" name="upper" value="50" volume ="000" weight="070"/>
		</constraints>
	</SpinalCordPrv>
	<BrainStem>
		<constraints>
			<constraint id="1" name="upper" value="50" volume ="000" weight="070"/>
		</constraints>
	</BrainStem>
	<BrainStemPrv>
		<constraints>
			<constraint id="1" name="upper" value="54" volume ="000" weight="070"/>
		</constraints>
	</BrainStemPrv>
	<ParotidL>
		<constraints>
			<constraint id="1" name="mean" value="22" volume ="20" weight="000"/>
		</constraints>
	</ParotidL>
	<ParotidLminusPTV>
		<constraints>
			<constraint id="1" name="upper" value="20" volume ="20" weight="070"/>
		</constraints>
	</ParotidLminusPTV>
	<ParotidR>
		<constraints>
			<constraint id="1" name="mean" value="22" volume ="20" weight="000"/>
		</constraints>
	</ParotidR>
	<ParotidRminusPTV>
		<constraints>
			<constraint id="1" name="upper" value="20" volume ="20" weight="070"/>
		</constraints>
	</ParotidRminusPTV>
	<OpticNerveL>
		<constraints>
			<constraint id="1" name="upper" value="54" volume ="0" weight="070"/>
		</constraints>
	</OpticNerveL>
	<OpticNerveR>
		<constraints>
			<constraint id="1" name="upper" value="54" volume ="0" weight="070"/>
		</constraints>
	</OpticNerveR>
	<OpticNerveLPrv>
		<constraints>
			<constraint id="1" name="upper" value="54" volume ="0" weight="070"/>
		</constraints>
	</OpticNerveLPrv>
	<OpticNerveRPrv>
		<constraints>
			<constraint id="1" name="upper" value="54" volume ="0" weight="070"/>
		</constraints>
	</OpticNerveRPrv>
	<Esophagus>
		<constraints>
			<constraint id="1" name="upper" value="70" volume ="0" weight="070"/>
		</constraints>
	</Esophagus>
	<EsophagusMinusPTV>
		<constraints>
			<constraint id="1" name="upper" value="70" volume ="0" weight="070"/>
		</constraints>
	</EsophagusMinusPTV>
</configuration>